/* Use your own code or past solution for Great Idea Web Page CSS here! */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;

}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h4 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
    width: 876px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 69%;
    font-family: 'Titillium Web';
    font-weight: bold;
}

.links a {
    color: #B8B8B8;
}

.logo {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 14%;
    padding-bottom: 1%;
}

.rightside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 0;
}

h1 {
    text-align: center;
    font-size: 72px;
    font-weight: lighter;
    line-height: 1.0;
    padding: 2%;
}

.button {
    font-family: 'Titillium Web';
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    width: 57%;
    padding: 1% 0;
}

#top-content {
    display: flex;
    padding: 4% 0;
    border-top: 2px solid black;
    line-height: 1.0;
}

#bottom-content {
    display: flex;
    justify-content: space-between;
    padding: 3% 0 4% 0;

    line-height: 1.0;
}

#bottom-content div {
    width: 32%;
}

#contact {
    border-top: 2px solid black;
    padding: 4% 0;
    line-height: 1.0;
}

footer {
    text-align: center;
}